@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  background-color: #111;
}

.hide-scrollbar {
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#sample-graph .scene-container {
  width: 0;
  height: 0;

  .scene-nav-info {
    display: none;
  }
}

input,
textarea {
  &::placeholder {
    color: #a9a9a9;
  }
  outline: none;
}

input[type="checkbox"] {
  appearance: none;

  border: 1.5px solid #e9e9e9;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:checked::after {
    content: "";
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    background-color: #e9e9e9;
    border-radius: 50%;
  }
}
